page-list {

}

.flexcard {
  display: flex;
  flex-wrap: wrap;
}

.image {
  width: 30%;
  height: 30%;
}

.cardcontent {
  width: 70%;
}

.ellipsis {
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 6;
  -webkit-box-orient: vertical;
}

@media screen and (max-width: 460px) {
  .image {
    width: 100%;
    height: 70%;
  }

  .cardcontent {
    width: 100%;
  }


}
