<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Events<img id="logo" width="40px" height="30px" src="assets/imgs/f4elogo.png"></ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding class="background">
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content pullingIcon="none"
                           style="opacity: 0.5"
                           refreshingSpinner="crescent">
    </ion-refresher-content>
  </ion-refresher>

  <ion-searchbar (ionInput)="getItems($event)"></ion-searchbar>

  <ion-list>

      <ion-card class="flexcard" *ngFor="let files of searchItems | reverse"
                (click)="itemTapped($event, item, files.file_id, files.title, files.description, files.user_id, files.filename, files.time_added)">
        <img class="image"
             src="http://media.mw.metropolia.fi/wbma/uploads/{{files.filename.split('.')[0]+'-tn320.png'}}">
        <ion-card-content class="cardcontent">
          <ion-card-title>
            {{files.title}}
          </ion-card-title>
          <p class="ellipsis">
            {{files.description}}
          </p>

        </ion-card-content>
      </ion-card>
  </ion-list>

  <!--ion-list-- *ngFor="let files of filesArray" (click)="itemTapped($event, item, files.file_id, files.title, files.description, files.user_id, files.filename, files.time_added)">

      <ion-card class="flexcard">
        <img class="image" src="http://media.mw.metropolia.fi/wbma/uploads/{{files.filename.split('.')[0]+'-tn320.png'}}"/>
        <ion-card-content class="cardcontent">
          <ion-card-title>
            {{files.title}}
          </ion-card-title>
          <p class="ellipsis">
            {{files.description}}The most popular industrial group ever, and largely
            responsible for bringing the music to a mass audience.The most popular industrial group ever, and largely
            responsible for bringing the music to a mass audience.The most popular industrial group ever, and largely
            responsible for bringing the music to a mass audience.The most popular industrial group ever, and largely
            responsible for bringing the music to a mass audience.The most popular industrial group ever, and largely
            responsible for bringing the music to a mass audience.The most popular industrial group ever, and largely
            responsible for bringing the music to a mass audience.The most popular industrial group ever, and largely
            responsible for bringing the music to a mass audience.The most popular industrial group ever, and largely
            responsible for bringing the music to a mass audience.The most popular industrial group ever, and largely
            responsible for bringing the music to a mass audience.The most popular industrial group ever, and largely
            responsible for bringing the music to a mass audience.The most popular industrial group ever, and largely
            responsible for bringing the music to a mass audience.The most popular industrial group ever, and largely
            responsible for bringing the music to a mass audience.The most popular industrial group ever, and largely
            responsible for bringing the music to a mass audience.The most popular industrial group ever, and largely
            responsible for bringing the music to a mass audience.The most popular industrial group ever, and largely
            responsible for bringing the music to a mass audience.The most popular industrial group ever, and largely
            responsible for bringing the music to a mass audience.The most popular industrial group ever, and largely
            responsible for bringing the music to a mass audience.The most popular industrial group ever, and largely
            responsible for bringing the music to a mass audience.The most popular industrial group ever, and largely
            responsible for bringing the music to a mass audience.The most popular industrial group ever, and largely
            responsible for bringing the music to a mass audience.The most popular industrial group ever, and largely
            responsible for bringing the music to a mass audience.The most popular industrial group ever, and largely
            responsible for bringing the music to a mass audience.The most popular industrial group ever, and largely
            responsible for bringing the music to a mass audience.The most popular industrial group ever, and largely
            responsible for bringing the music to a mass audience.The most popular industrial group ever, and largely
            responsible for bringing the music to a mass audience.The most popular industrial group ever, and largely
            responsible for bringing the music to a mass audience.The most popular industrial group ever, and largely
            responsible for bringing the music to a mass audience.The most popular industrial group ever, and largely
            responsible for bringing the music to a mass audience.The most popular industrial group ever, and largely
            responsible for bringing the music to a mass audience.The most popular industrial group ever, and largely
            responsible for bringing the music to a mass audience.The most popular industrial group ever, and largely
            responsible for bringing the music to a mass audience.The most popular industrial group ever, and largely
            responsible for bringing the music to a mass audience.The most popular industrial group ever, and largely
            responsible for bringing the music to a mass audience.The most popular industrial group ever, and largely
            responsible for bringing the music to a mass audience.The most popular industrial group ever, and largely
            responsible for bringing the music to a mass audience.The most popular industrial group ever, and largely
            responsible for bringing the music to a mass audience.The most popular industrial group ever, and largely
            responsible for bringing the music to a mass audience.The most popular industrial group ever, and largely
            responsible for bringing the music to a mass audience.The most popular industrial group ever, and largely
            responsible for bringing the music to a mass audience.The most popular industrial group ever, and largely
            responsible for bringing the music to a mass audience.The most popular industrial group ever, and largely
            responsible for bringing the music to a mass audience.The most popular industrial group ever, and largely
            responsible for bringing the music to a mass audience.The most popular industrial group ever, and largely
            responsible for bringing the music to a mass audience.The most popular industrial group ever, and largely
            responsible for bringing the music to a mass audience.The most popular industrial group ever, and largely
            responsible for bringing the music to a mass audience.The most popular industrial group ever, and largely
            responsible for bringing the music to a mass audience.The most popular industrial group ever, and largely
            responsible for bringing the music to a mass audience.The most popular industrial group ever, and largely
            responsible for bringing the music to a mass audience.The most popular industrial group ever, and largely
            responsible for bringing the music to a mass audience.The most popular industrial group ever, and largely
            responsible for bringing the music to a mass audience.The most popular industrial group ever, and largely
            responsible for bringing the music to a mass audience.The most popular industrial group ever, and largely
            responsible for bringing the music to a mass audience.The most popular industrial group ever, and largely
            responsible for bringing the music to a mass audience.The most popular industrial group ever, and largely
            responsible for bringing the music to a mass audience.The most popular industrial group ever, and largely
            responsible for bringing the music to a mass audience.The most popular industrial group ever, and largely
            responsible for bringing the music to a mass audience.
          </p>
        </ion-card-content>
      </ion-card>
  </ion-list-->
</ion-content>
