page-home {
}

p {

}

h2 {
  font: 400 25px/1.5 Helvetica, Verdana, sans-serif;
  color: $color-blue;
}

h5 {
  font: 150 16px/1.5 Helvetica, Verdana, sans-serif;
}

.background {
  background-color: transparent;
  background-image: url("../assets/imgs/background.png");
  background-size:cover;
}
ion-slides {
  width: 90%;
  height: 70%;
  background-color: transparent;
  margin-left: 5%;
}

.cards {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 2rem;
}

ion-card {
  padding: 1rem;
  border-radius: 1rem !important;
  overflow: hidden !important;
  max-width: 600px;
}

@media screen and (max-width: 480px){
  ion-slides {
    width: 100%;
    margin-left: 0;
  }

  .cards {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 2rem 0;
  }
}



