<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Home<img id="logo" width="40px" height="30px" src="assets/imgs/f4elogo.png"></ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding class="background">
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content pullingIcon="none"
                           style="opacity: 0.5"
                           refreshingSpinner="crescent">
    </ion-refresher-content>
  </ion-refresher>

  <h2>Friends 4 Events</h2>
  <!--
    <ion-slides autoplay="3000" pager="true" loop="true" speed="500">
      <ion-slide *ngFor="let image of latestImgsArray" (click)="itemTapped($event, image.file_id, image.title, image.description, image.user_id, image.filename, image.time_added)">
        <img class="slidingImg" src="http://media.mw.metropolia.fi/wbma/uploads/{{image.filename.split('.')[0]+'-tn320.png'}}">
        <h5>{{image.description}}</h5>
      </ion-slide>
    </ion-slides>
  -->
  <div *ngIf="mediaProvider.logged">
    <ion-item>
      <ion-input type="text" [(ngModel)]="search.title" placeholder="Search" name="searchtitle"></ion-input>
      <button ion-button item-right clear (click)="searchEvent()">
        <ion-icon name="search"></ion-icon>
      </button>
    </ion-item>
    <br>
  </div>

  <ion-slides autoplay="3000" pager="true" loop="true" speed="500">
    <div *ngFor="let image of latestImgsArray | reverse; let i = index;">
      <ion-slide *ngIf="i < 5"
                 (click)="itemTapped($event, image.file_id, image.title, image.description, image.user_id, image.filename, image.time_added)">
        <img class="slidingImg"
             src="http://media.mw.metropolia.fi/wbma/uploads/{{image.filename.split('.')[0]+'-tn320.png'}}">
      </ion-slide>
    </div>
  </ion-slides>
  <div>

    <div class="cards">
      <ion-card (click)="showAboutUs()" style="margin-top: 0">
        <ion-card-header>
          About us
        </ion-card-header>
        <ion-card-content>
          <p id="about" class="ellipsis">
            Friends 4 Events is an easy way to advertise and meet people with the same interests at events you both enjoy.
            Users can advertise events where they want to go and ask someone to join them and share the experience with somebody.
          </p>
        </ion-card-content>
      </ion-card>
      <ion-card (click)="showWhoIsItFor()">
        <ion-card-header>
          Who is it for?
        </ion-card-header>
        <ion-card-content>
          <p id="for" class="ellipsis">
            Friends 4 Events is for everyone, especially for those who have rare interests and find it hard to find
            company for those events.
          </p>
        </ion-card-content>
      </ion-card>
      <ion-card (click)="showUsage()">
        <ion-card-header>
          Usage
        </ion-card-header>
        <ion-card-content>
          <p id="usage" class="ellipsis">
            At first you must make your own profile. Open the menu at the top-left corner -> click Login -> Register ->
            fill the required columns and then click the Register button below to confirm,
            then you can contact the creators of the advertisements you are interest into or add your own advertisement of an event for the new contacts.
            All advertisements are found at the Events section.<br><br>
            If you find an event you want to go, comment to the event, there you can ask questions about the event and for example, make plans where to meet.
            If you want to make your own advertisement, go to your profile page and click the plus mark below ->
            upload an image about the event then give a title and a description to it and then click the Upload button to publish the advertisement.
            After that, you wait other users to contact you, all your own events will be shown in your own profile page.
          </p>
        </ion-card-content>
      </ion-card>
    </div>

  </div>
</ion-content>

