<ion-header>

  <ion-navbar>
    <ion-title>Comments</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding class="background">
  <form (submit)="postNewComment()">
    <ion-item>
      <ion-input type="text" [(ngModel)]="comment.comment" placeholder="Write a comment" name="comment"></ion-input>
    </ion-item>
    <br>
    <button ion-button block type="submit">Comment</button>
  </form>
  <br>
  <p>Comments:</p>
  <ion-list>
    <ion-card *ngFor="let comment of commentsArray | reverse">
      <div *ngIf="comment.user">
        <ion-item class="commentAvatar"
                  (click)="redirectToUserThatPosted($event, comment.user.username, comment.user.email, comment.user.user_id, comment.user.full_name)">
          <ion-avatar item-start>
            <img class="avatarImg" src="http://media.mw.metropolia.fi/wbma/uploads/{{comment.user.tag.filename}}"
                 *ngIf="comment.user.tag != null">
            <img class="avatarImg" src="assets/imgs/profilepicture.png" *ngIf="comment.user.tag == null">
          </ion-avatar>
          <h2>{{comment.user.username}}</h2>
          <p>{{comment.time_added | date:'dd/MM/yy hh:mm a'}}</p>
        </ion-item>
        <ion-card-content>
          {{comment.comment}}
        </ion-card-content>
      </div>
    </ion-card>
  </ion-list>
</ion-content>
